<header>
  <ol class="breadcrumb">
    <% @categories.each do |category| %>
      <li class='category'><a href="/?category=<%= category%>"><%= category %></a></li>
    <% end %>
  </ol>
</header>
<div class="row">
  <div class="col-md-6"><%= render 'shoppingcart' %></div>
  <div class="col-md-6"><%= render 'products' %></div>
</div>
