<header>
  <%= render 'partials/breadcrumbs' %>
</header>
<body>
  <div class="row">
    <div class="col-md-6"><%= render 'partials/shoppingcart' %></div>
    <div class="col-md-6"><%= render 'partials/products' %></div>
  </div>
</body>
